@{
    ViewData["Title"] = "About Us";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/About.css" />
</head>
<body>
    <div id="about">
        <h1>@ViewData["Title"]</h1>
        <h1 class="lefth">TKG Burgers</h1>
        <img class="photor" src="~/images/cooking.jpeg" alt="burger" />
        <hr />
        <p class="leftp">
            In 2014, three Texas A&M students wanted to create a restaurant that was affordable and tasty. They decided to open a sit-down restaurant in the town that served
            as their home for the last four years, College Station, Texas. They knew they wanted food that could serve as a quick meal for busy students, but could also be
            thoroughly enjoyed at any time. Thus, TKG Burgers was established in 2015, in a convenient spot that allowed students to walk over from campus.
        </p>
        <br /><br />
        <p class="leftp">
            Each person decided to focus on a specific item that would be their speciality. Tanner was focused on creating the perfect burger, with
            a balanced ratio of beef, vegetables, and bun. Garrett focused on creating a well rounded chicken sandwich, with a crisp breaded outside.
            Katie was focused on creating the ultimate side dish of fries, with a balance of thin and crispy. Together, they created a delicious menu that
            was worthy of the College Station-Bryan community.
        </p>
        <br /><br />
        <p class="leftp">
            Today, they continue to serve the community with tried and true food.
        </p>

        <hr class="invisible" />
    </div>
</body>

