* {
    margin: 0 auto
}

body {
    height: 100%;
}

#subtotal {
    background-color: #A4AC86;
    width: 25%;
}

table {
    background-color: #A4AC86;
    border-collapse: collapse;
}

tr {
    border: none;
}

thead {
    background-color: #936639;
    margin: 10px;
}

th {
    font-size: 30px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    border-right: solid 1px #333D29;
    border-left: none;
    text-align: center;
}

#cartTitle {
    color: black;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#top {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.ReturnToMenuButton {
    background-color: #04AA6D;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
}
    .ReturnToMenuButton:hover {
        background-color: #656D4A;
    }

.removeButton {
    background-color: #04AA6D;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

    .removeButton:hover {
        background-color: #656D4A;
    }

#subtotal {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    display: inline-block;
}

.CheckoutButton {
    background-color: #04AA6D;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}
    .CheckoutButton:hover {
        background-color: #656D4A;
    }

#bottom {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 25px;
}
